.communication {
    position: absolute;
    background-color: transparent;

    width: 100vw;
    height: 50vh;

    margin-top: 610vh;
}

.communication h1 {
    color: aliceblue;
    text-align: center;

    font-size: 4vw;

}

.communication div {
    position: absolute;
    text-align: left;
    
    font-size: 2vw;
    letter-spacing: 2px;

    font-weight: bold;

    padding: 5%;
    padding-top: 2%;

    color: aliceblue;

    text-align: justify ;
}
