
.struct {
    position: absolute;
    background-color: transparent;

    width: 100vw;
    height: 100vh;

    margin-top: 350vh;
    
}

.struct h1 {
    color: aliceblue;
    text-align: left;

    font-size: 4vw;

    margin-left: 10%;
    margin-bottom: 5%;
}


.block {
    background-color: transparent;
    width: 15%;
    height: 4vw;

    margin: 1vw;
    
    text-align: center;
    vertical-align: center;

    font-family: monospace;
    color: aliceblue;
    font-weight: bold;
    font-size: 2vw;

    position: absolute;
}

.block:hover {
    -webkit-transform: scale(1.2);
}

.block:nth-child(1) {
    margin-top: 0;
    margin-left: 40%;
}


.block:nth-child(2) {
    margin-top: 10%;
    margin-left: 5%;
}

.block:nth-child(3) {
    margin-top: 10%;
    margin-left: 40%;
}

.block:nth-child(4) {
    margin-top: 10%;
    margin-left: 75%;
}



.block:nth-child(5) {
    margin-top: 20%;
    margin-left: 5%;
}

.block:nth-child(6) {
    margin-top: 20%;
    margin-left: 50%;
}

.block:nth-child(7) {
    margin-top: 20%;
    margin-left: 30%;
}

.block:nth-child(8) {
    margin-top: 20%;
    margin-left: 68%;
}

.block:nth-child(9) {
    margin-top: 20%;
    margin-left: 82%;
}


.block:nth-child(10) {
    margin-top: 30%;
    margin-left: 50%;
}

.block:nth-child(11) {
    margin-top: 40%;
    margin-left: 50%;
}





/* стерлка */
i {
    border: solid rgba(240, 248, 255, 0.61);
    border-width: 0 1vw 1vw 0;
    display: inline-block;
    padding: 1vw;

    margin: 2vw;
    position: absolute;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i:nth-child(1) {
    margin-top: 5%;
    margin-left: 46%;
}



i:nth-child(2) {
    margin-top: 5%;
    margin-left: 11%;
}

i:nth-child(3) {
    margin-top: 5%;
    margin-left: 81%;
}



i:nth-child(4) {
    margin-top: 15%;
    margin-left: 11%;
}

i:nth-child(5) {
    margin-top: 15%;
    margin-left: 36%;
}

i:nth-child(6) {
    margin-top: 15%;
    margin-left: 56%;
}

i:nth-child(7) {
    margin-top: 15%;
    margin-left: 74%;
}


i:nth-child(8) {
    margin-top: 15%;
    margin-left: 88%;
}


i:nth-child(9) {
    margin-top: 25%;
    margin-left: 56%;
}

i:nth-child(10) {
    margin-top: 35%;
    margin-left: 56%;
}



i:hover {
    -webkit-transform: rotateZ(225deg);
    
}

